DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=home_bakers_marketplace
PORT=4000

# PayHere Sandbox Credentials
PAYHERE_MERCHANT_ID=1236698
PAYHERE_SECRET=MzU3MzM3NTUwNzcwNDc2MTIzNTMzMTMwNzY2OTYzODM2MzA2MDk2


